.wrapper{
  width: 920px;
  margin: 20px auto;
  overflow: hidden;
}

.box{
  width: 200px;
  margin-left: 80px;
  float: left;
}
.benefits {
  width: 100%;
}
.benefits__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  -webkit-box-pack: justify;
    -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}
.benefits__header {
  color: #EF7300;
  text-align: center;
  margin: 0 auto;
  font-size: 60px;
  text-transform: uppercase;
  display: block;
  width: 100%;
  text-align: center;
  padding: 20px 0px 20px;
}
.benefits__element {
  width: 30%;
}
.benefits__icon {
  display: block;
  /* width: 60px; */
  height: 130px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 50%;
  background-color: white;
  padding: 35px;
  border: solid 3px #EF7300;
}

.benefits__element p {
  color: #EF7300;
  text-align: center;
  line-height: 1.3;
  margin: 5px auto;
}

.benefits__number {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 20px
}

.benefits__title {
  font-size: 35px;
  margin: 0 auto;
}